 .bodyb{
 	background-color: black;
 }

 .datingPartners{
 	background-color: #d5c0d9;
 }

 header {
	background-color: #7c248a;
	padding:  40px 0px;
	text-align: center;
	width: 100%;
	border: 4px solid #fff;
}

.container.logo{
	padding: 0;
}

#headerimg {
	width: 30%;
}

.container.hero{
	padding: 0;
}

.computerpic{
	background-size: cover;
	text-align: center;
	padding:  100px;
	background-color: #9d5ba9;
	background-blend-mode: darken;
	margin:  0;
	border: 4px solid #fff;
}

.computerpic h1{
	color: white;
	font-size:  50px;
	font-weight: bold;
	font-family: "Helvetica Light", sans-serif;
	word-spacing: 8px;
	letter-spacing: 2px;
	text-align: center;
	padding: 20px;
}

.container.navbarsec{
	background-color: paleturquoise;
	border: 4px solid #fff;
	padding-top: 15px;
}

.daters{
	border:  4px solid #fff;
} 

.pic {
	text-align: center;
padding-top: 20px;
	background-color: #d5c0d9;
}

.boxdetails{
	padding-left: 44px;
	background-color: #d5c0d9;
}

.details{
	padding-top: 30px;
	background-color: #d5c0d9;
	font-family:  "Helvetica Light", sans-serif;
	font-weight: bold;
	line-height: 2;
	font-size: 16px;
}  

img{
	width: 85%;
}

.votes{
	display: flex;
	padding-top: 20px;
	background-color: #d5c0d9;
	text-align: center;
}

.counterall{
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	padding: 0 10px 0px 10px;
	color: red;
	text-shadow: 2px 2px 1px black;
	background-color: #d5c0d9;
}

.add{
	width: 80px;
	height: 50px;
	padding:  10px;
	font-weight: bold;
	font-size: 20px;
	border-radius: 15px;
	background-color: cyan;
	margin-top: 10px;
	display: initial;
}

.remove{
	width: 80px;
	height: 50px;
	padding:  10px;
	font-weight: bold;
	font-size: 20px;
	border-radius: 15px;
	background-color: cyan; */
	/* margin-top: 10px; */
	display: initial;
 }

.showLikes{
	width: 40px;
	height: 50px;
	font-size: 28px;
	padding: 20px;
	font-weight: bold;
	text-align: right;
	background-color: #d5c0d9;
}

.heart{
	margin:  0;
	padding-top: 6px;
	background-color: #d5c0d9;
}


.heartimg{
	width:  60px;
	padding: 10px 12px 0 10px;
	background-color: #d5c0d9;
}  


.remove {
	display: none;
	background-color: #d5c0d9;
}

.heartimg {
	visibility: hidden;
	background-color: #d5c0d9;
}

.row{
	background-color: #d5c0d9;
}

.clear {
	clear:  both;
}

.footer{
	padding: 20px 200px;
	border-top: solid #535353 2px;
	width: 70%;
	margin-top: 40px;
	background-color: peachpuff;
}
.footer1{
	background-color: peachpuff;
	border: 4px solid #fff;
}

